.bdindex{
    background: linear-gradient(to bottom, #6ab1e7, #023364);
    height: 100vh;
    width: 100%;

}
 .menuwrp{
  position:absolute;
  top: 100%;
  right:10%;
  width:320px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
 
 }

.menuwrpopen{
  max-height: 400px;
  

 }

 .submenu{
  background: #fff;
  padding: 20px;
 
 }
 .submenu hr{
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
  
 }
 .userinfo{
  justify-content: center;
  text-align: center;
  align-items: center;

 }
 .userinfo img{
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
 }
nav{
    background-color: #505FE9;
}
.lo{
    background-color: #7682EE;
    border-radius: 35px;
    margin-left: 4rem;
    padding: 0 15px;
}
  .navbar-brand {
    font-weight: bold;
    color: #fff;
  }

  .navbar-nav {
    margin-left: auto;
  }

  .nav-link {
    color: #fff;
  }

  
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(254, 250, 250,0.7);
    border-radius: 40px;


    

}


.inp{
     background-color: #6ab1e7;
     border-radius: 15px;
     margin-top: 2rem;
     padding: 0.5rem;
     z-index: 2;
}
.bttn{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.background {
  position: relative;
}

.background img {
  width: 100%;
  height: auto; 
}

.title {
  position: absolute;
  top: 15%;
  left: 10%;
  color: #d8dcff;
  font-size: 6rem; 
}
