.bdindex{
    background: linear-gradient(to bottom, #6ab1e7, #023364);
    height: 100vh;
    width: 100%;

}
 .menuwrp{
  position:absolute;
  top: 100%;
  right:10%;
  width:320px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

 
 }

.menuwrpopen{
  max-height: 400px;
  

 }

 .submenu{
  background: #fff;
  padding: 20px;
 
 }
 .submenu hr{
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
  
 }
 .userinfo{
  justify-content: center;
  text-align: center;
  align-items: center;

 }
 .userinfo img{
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
 }
nav{
    background-color: #505FE9;
}
.lo{
    background-color: #7682EE;
    border-radius: 35px;
    margin-left: 4rem;
}
  .navbar-brand {
    font-weight: bold;
    color: #fff;
  }

  .navbar-nav {
    margin-left: auto;
  }

  .nav-link {
    color: #fff;
  }

  
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(254, 250, 250,0.7);
    border-radius: 40px; 
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
   

    

}


.inp{
     background-color: #6ab1e7;
     border-radius: 15px;
     margin-top: 2rem;
     padding: 0.5rem;
     z-index: 2;
}
.bttn{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.background {
  position: relative;
}

.background img {
  width: 100%;
  height: auto; 
}

.title {
  position: absolute;
  top: 15%;
  left: 10%;
  color: #d8dcff;
  font-size: 6rem; 
}
.pagination {
  margin-top: 20px;
}

.pagination a {
  padding: 8px;
  margin: 4px;
  border: 1px solid #ddd;
  text-decoration: none;
  color: #007BFF;
  border-radius: 5px;
}

.pagination a:hover {
  background-color: #007BFF;
  color: white;
}


.formedit {
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

textarea {
  height: 100px;
}

input[type="submit"] {
  margin-top: 10px;
}
